{{#if this.showButton}}
  <button type="button" class="say-toolbar__button" data-test-button-id="event-based-button" {{on "click" this.onClick}}>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="say-icon say-icon--large" aria-hidden="true"/>
    <span class="say-u-hidden-visually">Remove link</span>
  </button>
{{/if}}